.page__content {
    margin: 0 auto;
    width: calc(100% - 2*200px);
    margin-bottom: 67px;

}

@media screen and (max-width: 984px) {
    .page__content {
        width: calc(100% - 2*140px);
    }
}

@media screen and (max-width: 568px) {
    .page__content {
        width: calc(100% - 2*19px);
        margin-bottom: 42px;
    }
}